html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}



header{
  background: yellow;
  text-aling: center;
}
padding: 50px;

main{
  background: red;
  width: 700px;
  margin: 20px 0 20px 40px;
  padding: 20 px;
}

footer{
  background: green;
}